TZ=UTC
PORT=3333
HOST=localhost
APP_URL=http://localhost:3333
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_DATABASE=topwr-booths
SESSION_DRIVER=cookie
MINIATURE_MAX_HEIGHT_PX=360
MINIATURE_MAX_PROCESSING_TIME_S=5
